.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;

    grid-template-areas: 
    "nav"
    "snelheid"
    "gkrachten"
    "brandstof"
    ;
}

body {
    margin: 0;
}

.dashnav {
    grid-area: nav;
}

.speed {
    grid-area: snelheid;
}

.gkracht {
    grid-area: gkrachten;
}

.brandstof {
    grid-area: brandstof;
}

@media screen  and (min-width: 660px) /*Tablet*/ {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    
        grid-template-areas: 
        "nav nav"
        "snelheid gkrachten"
        "brandstof brandstof"
        ;
    }
        
    .dashnav {
        grid-area: nav;
    }
    
    .speed {
        grid-area: snelheid;
    }
    
    .gkracht {
        grid-area: gkrachten;
    }
    
    .brandstof {
        grid-area: brandstof;
    }
    
}

@media screen  and (min-width: 950px) /*Kleine desktop*/ {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    
        grid-template-areas: 
        "nav nav"
        "snelheid brandstof"
        "gkrachten brandstof"
        ;
    }
        
    .dashnav {
        grid-area: nav;
    }
    
    .speed {
        grid-area: snelheid;
    }
    
    .gkracht {
        grid-area: gkrachten;
    }
    
    .brandstof {
        grid-area: brandstof;
    }

}

@media screen  and (min-width: 1400px) /*Grote desktop*/ {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    
        grid-template-areas: 
        "nav nav"
        "snelheid brandstof"
        "gkrachten brandstof"
        ;
    }
        
    .dashnav {
        grid-area: nav;
    }
    
    .speed {
        grid-area: snelheid;
    }
    
    .gkracht {
        grid-area: gkrachten;
    }
    
    .brandstof {
        grid-area: brandstof;
    }

}