.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;

    grid-template-areas: 
    "nav"
    "snelheid"
    "gkrachten"
    "brandstof"
    ;
}

body {
    margin: 0;
}

.flex{
  display: flex;
  flex-flow: row;
}

.dashnav {
    grid-area: nav;
}

.speed {
    grid-area: snelheid;
}

.gkracht {
    grid-area: gkrachten;
}

.brandstof {
    grid-area: brandstof;
}

.tablespeed{
  max-width:90vw;
  min-width: 90%;
  margin-left: 5vw;
  margin-right:5vw;
}

.tablegkracht{
  height: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.tablebrandstof{
  height: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media screen  and (min-width: 660px) /*Tablet*/ {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    
        grid-template-areas: 
        "nav nav"
        "snelheid gkrachten"
        "brandstof brandstof"
        ;
    }
}

@media screen  and (min-width: 950px) /*Kleine desktop*/ {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    
        grid-template-areas: 
        "nav nav"
        "snelheid brandstof"
        "gkrachten brandstof"
        ;
    }

    .tablebrandstof {
        margin-left: 0;
        height: 100%;
    }

    
}

@media screen  and (min-width: 1400px) /*Grote desktop*/ {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    
        grid-template-areas: 
        "nav nav"
        "snelheid brandstof"
        "gkrachten brandstof"
        ;
    }
        
}