/*algemeen*/
body {
    background-color: black;
    margin: 0 auto;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

/*div1 dashnav*/
.dashnav {
    background-color: #383838;
    float: left;
}

.spacexlogo {
    width: 15%;
    float: left;
}

.titel {
}

/*algemeen datavisualisaties*/
th {
    background-color: #383838;
    color: white;
}

td {
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

main {
    margin-left: 10%;
}

/*div2 snelheid*/
.meter {
    width: 60%;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

#aantal {
    height: 10px;
    background-color: red;
    width: 62%;
}

.tablespeed {
    width: 90%;
    height: 40%;
}

p {
    display: inline;
}

.eenheid {
    margin-left: 5px;
}

/*div3 gkrachten*/



/*div4 brandstofverbruik*/
