/*algemeen*/
body {
    background-color: black;
}

/*div1 dashnav*/
.dashnav {
    background-color: #383838;
    text-align: center;
}

.spacexlogo {
    width: 50%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
}

/*algemeen datavisualisaties*/
th {
    background-color: #005288;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

td {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


/*div2 snelheid*/
.meter {
    width: 60%;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    margin: 5% 20% 8%;
}

#aantal {
    height: 100%;
    background-color: #005288;
    width: 62%;
}

.tablespeed {
    width: 90%;
    height: 40%;
}

p {
    display: inline;
}

.eenheid {
    margin-left: 5px;
}

.cijfer, .eenheid {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 1%;
    background-color: #005288;
    color: white;
}

.gas{
    margin-left: 20%;
    float: left;
}

.rem {
    float: right;
    margin-right: 20%;
}

/*div3 gkrachten*/
.tablegkracht {
    width: 90%;
}

.aantalg {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*div4 brandstofverbruik*/
.tablebrandstof {
    width: 90%;
}

.keermil {
    float: right;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



@media screen  and (min-width: 660px) /*Tablet*/ {
    /*dashnav*/    
    .spacexlogo {
        width: 40%;
    }
    
    h1 {
        font-size: 40px;
    }
    
    /*algemene datavisualisatie*/
    .gkracht {
        margin-right: 10%;
    }

    .brandstof {
        margin-top: 0;
    }

    /*div2 snelheid*/
    .tablespeed {
        height: 100%;
    }

    .thsnel {
        height: 1%;
    }

    .cijfer, .eenheid {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .thsnel {
        height: 1%;
    }
}
@media screen and (min-width: 950px) /*Kleine desktop*/ {
    .spacexlogo {
        width: 30%;
    }
    
    .gkracht {
        margin-right: 0;
    }

    .thbrandstof {
        height: 1%;
    }
}